body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #e8e8e8;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 50px auto;
  max-width: 1500px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}


form label {
  font-size: 0.9rem;
}

form select, form input {
  margin-top: 5px;
}

form select{
  height: 20px;
}

form input {
  height: 14px
}

form div {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

form button {
  cursor: pointer;
  display:inline-block;
  padding:0.15em 1.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:black;
  background-color:#FFFFFF;
  text-align:center;
  border: 1px solid grey;
}

form button:hover{
  background-color:rgb(221, 221, 221);
}

@media(max-width: 700px){
  h1 {
    font-size: 1.5rem;
  }
  form{
    flex-direction: column;
    align-items: flex-start;
  }

  form div {
    margin: 0.3rem 0;
  }
}

.image-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image img {
  object-fit: cover;
  width: 300px;
  max-width: 300px;
  height: 300px;
  box-shadow: 0 0 5px rgb(126, 126, 126);
  margin: 1rem 0.2rem
}

.invalid-select{
  border: 2px solid red;
}

.fa-spinner{
  margin-top: 3rem;
  font-size: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error {
  width: 100px;
  margin: 0 auto;
  background-color: rgb(218, 97, 97);
  border: 1px solid red;
  padding: 0.2rem 1rem;
}